---
 const personalImageAlt = "Javier Epifanio"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      Soy Javier Epifanio López, un desarrollador de aplicaciones web apasionado por <strong
        >la tecnología y la resolución de problemas</strong
      >. Me enfoco en el aprendizaje continuo y valoro el trabajo en equipo y la proactividad.
    </p>

    <p>
      Mi experiencia como <strong>árbitro</strong>. me ha enseñado a <strong> tomar decisiones rápidas y efectivas</strong> gestionar situaciones de alta tensión y mejorar mis habilidades de concentración y comunicación no verbal. Estas habilidades son fundamentales en mi trabajo diario como desarrollador, donde la precisión y la rapidez son claves para el éxito de los proyectos.
    </p>

    <p>
      A pesar de mi juventud, soy <strong>autodidacta</strong> y apasionado por <strong>resolver retos técnicos</strong>. Siempre estoy en busca de mejorar mis habilidades y enfrentar nuevos desafíos, lo que me ha permitido crecer profesionalmente y seguir aprendiendo en el campo del desarrollo web.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>